/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */
body {
  position: relative;
  color: white;
  height: 100vh;
  background-color: hsl(220, 35%, 3%);
  font-family: sans-serif;
  overflow-y: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  background-color: white;
  padding: 10px 20px;
  border-radius: 10px;
  border: none;
  appearance: none;
  font-size: 1.3rem;
  box-shadow: 0px 8px 28px -6px rgba(24, 39, 75, 0.12),
    0px 18px 88px -4px rgba(24, 39, 75, 0.14);
  transition: all ease-in 0.1s;
  cursor: pointer;
  opacity: 0.9;
}

button:hover {
  transform: scale(1.05);
  opacity: 1;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  height: fit-content;
  width: fit-content;
  margin: 10px;
}

a:hover {
  opacity: 1;
  text-decoration: none;
}

.Hello {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
}

.uploadingPanel, .uploadingPanelError {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  padding: 0px 24px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: aliceblue;
  color: black;
}

.uploadingPanelError {
  color: rgb(161, 26, 26);
  flex-direction: column;
  text-align: start;
  align-items: start;
}

.uploadingPanel p, .uploadingPanelError p {
  height: auto;
  padding: 0;
  margin: 0;
  margin-top: 6px;
  font-weight: 600;
}

.uploadingPanelError h3 {
  padding: 0;
  margin: 18px 0 4px;
}

.uploadingErrorCountdown {
  position: fixed;
  height: 8px;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgb(161, 26, 26);
  animation: errorBar 5s linear;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
@keyframes errorBar {
  from {
    right: 0;
  }
  to {
    right: 100%;
  }
}
